<h2>Boards</h2>

<div class='boards-index-container'>
<% boards.each(function(board) { %>
  <a href='#/boards/<%= board.escape('id') %>'>
    <p class='boards-item'>
     <%= board.escape('title') %>
    </p>
  </a>
<% }); %>
</div>

<div id='new-board-container' hidden>
  <form class='new-board-form'>
    <input type='text' name='board[title]'>
    <input type='submit' value='Create'> <button class='cancel'>X</button>
  </form>
</div>
<button id='new-board-button'>Create a new Board</button>