<h2>Boards</h2>

<div class='boards-index-container'>
<% boards.each(function(board) { %>
  <a href='#/boards/<%= board.escape('id') %>'>
    <p class='boards-item'>
     <%= board.escape('title') %>
    </p>
  </a>
<% }); %>
</div>

<div id='new-board-container'>
</div>
<button id='new-board-button'>Create a new Board</button>