<h1><%= board.escape('title') %></h1>

<div>Lists</div>
<ul id='lists-container'></ul>
<button id='new-list-button'>New List</button>
<div id='new-list-container'></div>

<div>Members</div>
<ul id='members-container'></ul>
<button id='add-member-button'>Add a Member</button>
<div id='add-member-container'></div>