<h2 class='board-name'><%= board.escape('title') %></h2>

<h2>Lists</h2>

<div class='row'>
  <div class='outer-lists-display'>
    <ul id='lists-container' class='inner-lists-display'></ul>
  </div>
</div>
<div class='row'>
  <button id='new-list-button'>New List</button>
</div>
<div class='row'>
  <div id='new-list-container'></div>
</div>

<div class='row'>
  <div class='members-space col col-xs-4'>
    <h2>Members</h2>
    <ul id='members-container' class=''></ul>
  </div>
</div>
<div class='row member-add'>
  <button id='add-member-button'>Add a Member</button>
  <div id='add-member-container'></div>
</div>

<a href='#/'><button class='back-button'>Back</button></a>

<div id='modal-container'></div>

