.boards-index-container {
  width: 50%;
  background: white;
  border-radius: 5px;
  padding: 10px;
}

.boards-item {
//  margin-right: auto;
//  margin-left: auto;
  text-align: center;
  width: 75%;
  border: blue 2px solid;
  border-radius: 10px;
  padding: 5px;
  margin: 30px auto;
}