<p><%= list.escape('title') %><p>

<ul id='cards-container-<%= list.escape('id') %>'></ul>
<button id='new-card-button-<%= list.escape('id') %>'>Add a Card</button>
<div id='new-card-container-<%= list.escape('id') %>'></div>
