<!DOCTYPE html>
<html>
<head>
  <title>Tyrello</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar">
    <div class="navbar-header">
      <div class='navbar-brand' href='#'>Tyrello</div>
    </div>
  </nav>

  <%= yield %>

<div class="overlay hidden">
</div>

</body>
</html>
